.Card {
    border: 3px solid;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px;
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    min-width: 500px;
}

.Card .Title {
    padding: 5px 0px;
    display: flex;
    justify-content: center;
}

.Card .Content {
    flex: 1; /*apelido para o flex-grow que faz com que o display cresça*/
    background-color: #fff;
    color: #000;
    padding: 10px;
}